[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User=transmission
Type=notify
{% if transmission_logfile | length > 0 %}
  {% set transmission_exec_start = transmission_exec_start ~ ' --logfile ' ~ transmission_logfile %}
{% endif %}

ExecStart={{ transmission_exec_start }}
ExecReload=/bin/kill -s HUP $MAINPID
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
